<div class="footer">
    <footer>
      <img class="socials" src="../images/Instagram.png" onclick="window.location.href='https://www.instagram.com';">
      <img class="socials" src="../images/twitter.png" onclick="window.location.href='https://www.twitter.com/';">
      <img class="socials" src="../images/facebook.png" onclick="window.location.href='https://www.facebook.com/';">
    </footer>
  </div>