    <!--HTML PARA O POP UP DO ABOUT US-->
    <div id="popup1" class="overlay">
        <div class="popup">
          <h2>About Us</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            This game was made by 3 students from Universida da Madeira as an evaluation project
            In order to complete this game we used knowledge that we gained from the classes.                                                                                                                                
            To conclude,we Carlos, Martim and Flávio want to thank you for playing this game!
                                            Enjoy!
          </div>
        </div>
      </div>