<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/head'); %>
<head></head><meta http-equiv="Refresh" content="2; url=/GameAnswer" /></html><head>
<body>
    <header>
        <div class="navJogo navJogoText">
          <p id="headScore">Score:0</p>
          <p id="perguntaNr">Pergunta 1</p>
          <p id="tempoPergunta">Time:0S</p>
          <p hidden id="estadopP1" value="<%= dadosGame.estadoAvancar %>"></p>
        </div>
      </header>

  <div class="textoPaginaJogo">Waiting for Opponents!</div>
  <form action="/GameWaitPlayers" method ="post">
    <button class="botaoMenu" name="pConnected" value="false" >Back</button>
  </form>
<%- include('../views/partials/footer'); %> 
<script>

    var p1 = document.getElementById("estadopP1").getAttribute("value");
    if(p1 == "true"){
        var meta = document.createElement('meta');
        meta.httpEquiv = "refresh" 
        meta.content = "0;URL=/Game";
        document.getElementsByTagName('head')[0].appendChild(meta);
    }
    else{
        var meta = document.createElement('meta');
        meta.httpEquiv = "refresh" 
        meta.content = "2;URL=/GameWaitPlayers";
        document.getElementsByTagName('head')[0].appendChild(meta);
    }
</script>
</body>
</html>