<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/mystyle.css" />
    <title>God of Trivia</title>
</head>
<body>
  <header>
   <nav class="navbar">
      <img class="logo" src="/images/Logo.png"/>
      <a class="nav-link" href="/logout"> Logout </a>
      <img class="profilPic" src="../images/profile.png" onclick="window.location.href='/Profile?username=<%= username %>';">  
   </nav>
  </header>
  <div class="title">
    <img class="LogoStart" src="/images/Logo.png"/>
    <b class="titulo">GOD OF TRIVIA</b>
  </div>
  <div>
    <button class="Start" onclick="window.location.href='/game?username=<%= username %>'">Start game</button><br>
    <button class="Rules" onclick="window.location.href='#popup2';">Rules</button><br>
    <%- include('../views/Partials/popUpRules'); %>
  </div>
  <%- include('../views/partials/footer'); %>
</body>
</html>